- var blogTitle = ''
include ./common/_layout
block body
  h1 Posts
  ul
    - for(var i=0, l=posts.length; i<l; i+=1)
      li
        a(href="/posts/#{i}")= posts[i].title
        | &nbsp;
        != posts[i].body
  p
    a(href="/posts/new") ADD POST.
